/*FRAMEWORK CSS*/

.custom-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .custom-container {
        width: 650px
    }
}

@media (min-width:992px) {
    .custom-container {
        width: 970px
    }
}

@media (min-width:1450px) {
    .custom-container {
        width: 1350px
    }
}

#navbar {
    min-height: 90px;
}


/*FONTS*/

.playfair-font {
    font-family: 'Playfair Display', serif;
}

.fauna-font {
    font-family: 'Fauna One', serif;
}

.open-sans-font {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Fauna One', serif;
}


/*TYPOGRAPHY*/

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.capitalize {
    text-transform: capitalize;
}

.white-text {
    color: white;
}

.small-font {
    font-size: 10px;
}

.medium-font {
    font-size: 12px;
}

.large-font {
    font-size: 14px;
}

h1::first-letter { 
    font-size: 125%;
}


/*COLORS - Pallette from https://color.adobe.com/28X-Presidential-Poster-color-theme-7962511*/

.dark-blue {
    background-color: #00314C;
}

.blue {
    background-color: #2980b9;
}

.light-blue {
    background-color: #70959E;
}

.tan {
    background-color: #FAE6A5;
}

.red {
    background-color: #B51F1F;
}

.dark-red {
    background-color: #731414;
}

.white {
    background-color: #ffffff;
}


/*MAIN SECTION*/

.seal {
    margin: 20px;
    width: 121px;
    height: 121px;
}

.main-section {
    margin-top: 180px;
}

.main-table {
    width: 100%
}

.text-area {
    height: 75px;
    ;
    overflow: visible;
}

.footer {
    height: 60px;
    width: 100%;
}

.pointer {
        cursor: pointer;
}


/*CUSTOM TWEET BUTTON*/

body {
    background: #f2f2f2;
    color: #555;
}

p {
    line-height: 1.6;
}

.custom-login-button {
    margin-top: 52px;
}

.custom-login-button a {
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 11px;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-weight: bold;
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DEDEDE));
    background-image: -moz-linear-gradient(top, #FFF, #DEDEDE);
    background-image: -o-linear-gradient(top, #FFF, #DEDEDE);
    background-image: -ms-linear-gradient(top, #FFF, #DEDEDE);
    border: #CCC solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.custom-login-button a:hover {
    border-color: #BBB;
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#D9D9D9));
    background-image: -moz-linear-gradient(top, #F8F8F8, #D9D9D9);
    background-image: -o-linear-gradient(top, #F8F8F8, #D9D9D9);
    background-image: -ms-linear-gradient(top, #F8F8F8, #D9D9D9);
    background-image: linear-gradient(top, #F8F8F8, #D9D9D9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.custom-login-button a .btn-icon {
    position: absolute;
    width: 16px;
    height: 13px;
    top: 50%;
    left: 6px;
    margin-top: -6px;
    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
    background-size: 13px;
}

.custom-login-button a .btn-text {
    display: inline-block;
    padding: 11px 5px 0 23px;
    font-size: 16px;
}

.custom-tweet-button a {
    position: relative;
    display: inline-block;
    height: 21px;
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 11px;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    font-weight: bold;
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DEDEDE));
    background-image: -moz-linear-gradient(top, #FFF, #DEDEDE);
    background-image: -o-linear-gradient(top, #FFF, #DEDEDE);
    background-image: -ms-linear-gradient(top, #FFF, #DEDEDE);
    border: #CCC solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
}

.custom-tweet-button a:hover {
    border-color: #BBB;
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#D9D9D9));
    background-image: -moz-linear-gradient(top, #F8F8F8, #D9D9D9);
    background-image: -o-linear-gradient(top, #F8F8F8, #D9D9D9);
    background-image: -ms-linear-gradient(top, #F8F8F8, #D9D9D9);
    background-image: linear-gradient(top, #F8F8F8, #D9D9D9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.custom-tweet-button a .btn-icon {
    position: absolute;
    width: 16px;
    height: 13px;
    top: 50%;
    left: 3px;
    margin-top: -6px;
    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
    background-size: 13px;
}

.custom-tweet-button a .btn-text {
    display: inline-block;
    padding: 0px 5px 0 23px;
}


/*TABLES*/

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    vertical-align: center;
}

.offset-color {
    background: #f6f6f6;
}

.offset-color:nth-of-type(odd) {
    background: #e9e9e9;
}

.header {
    font-weight: 900;
}


/*PADDING*/

.padding-tiny {
    padding: 3px;
}

.padding-small {
    padding: 5px;
}

.padding-medium {
    padding: 10px;
}

.padding-large {
    padding: 15px;
}

.padding-largest {
    padding: 20px;
}

.padding-huge {
    padding: 25px;
}

.padding-immense {
    padding: 30px;
}

.padding-top-tiny {
    padding-top: 3px;
}

.padding-top-small {
    padding-top: 5px;
}

.padding-top-medium {
    padding-top: 10px;
}

.padding-top-large {
    padding-top: 15px;
}

.padding-top-largest {
    padding-top: 20px;
}

.padding-top-huge {
    padding-top: 25px;
}

.padding-top-immense {
    padding-top: 30px;
}

.padding-right-zero {
    padding-right: 0;
}

.padding-right-tiny {
    padding-right: 3px;
}

.padding-right {
    padding-right: 5px;
}

.padding-right-small {
    padding-right: 5px;
}

.padding-right-medium {
    padding-right: 10px;
}

.padding-right-large {
    padding-right: 15px;
}

.padding-right-largest {
    padding-right: 20px;
}

.padding-right-huge {
    padding-right: 25px;
}

.padding-right-immense {
    padding-right: 30px;
}

.padding-bottom-tiny {
    padding-bottom: 3px;
}

.padding-bottom-small {
    padding-bottom: 5px;
}

.padding-bottom-medium {
    padding-bottom: 10px;
}

.padding-bottom-large {
    padding-bottom: 15px;
}

.padding-bottom-largest {
    padding-bottom: 20px;
}

.padding-bottom-huge {
    padding-bottom: 25px;
}

.padding-bottom-immense {
    padding-bottom: 30px;
}

.padding-left-zero {
    padding-left: 0;
}

.padding-left {
    padding-left: 5px;
}

.padding-left-tiny {
    padding-left: 3px;
}

.padding-left-small {
    padding-left: 5px;
}

.padding-left-medium {
    padding-left: 10px;
}

.padding-left-large {
    padding-left: 15px;
}

.padding-left-largest {
    padding-left: 20px;
}

.padding-left-huge {
    padding-left: 25px;
}

.padding-left-immense {
    padding-left: 30px;
}

.no-padding {
    padding: 0px;
}

// MARGINS
.margin-tiny {
    margin: 3px;
}

.margin-small {
    margin: 5px;
}

.margin-medium {
    margin: 10px;
}

.margin-large {
    margin: 15px;
}

.margin-largest {
    margin: 20px;
}

.margin-huge {
    margin: 25px;
}

.margin-immense {
    margin: 30px;
}

.margin-top-tiny {
    margin-top: 3px;
}

.margin-top-small {
    margin-top: 5px;
}

.margin-top-medium {
    margin-top: 10px;
}

.margin-top-large {
    margin-top: 15px;
}

.margin-top-largest {
    margin-top: 20px;
}

.margin-top-huge {
    margin-top: 25px;
}

.margin-top-immense {
    margin-top: 30px;
}

.margin-right-tiny {
    margin-right: 3px;
}

.margin-right-small {
    margin-right: 5px;
}

.margin-right-medium {
    margin-right: 10px;
}

.margin-right-large {
    margin-right: 15px;
}

.margin-right-largest {
    margin-right: 20px;
}

.margin-right-huge {
    margin-right: 25px;
}

.margin-right-immense {
    margin-right: 30px;
}

.margin-bottom-tiny {
    margin-bottom: 3px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.margin-bottom-medium {
    margin-bottom: 10px;
}

.margin-bottom-large {
    margin-bottom: 15px;
}

.margin-bottom-largest {
    margin-bottom: 20px;
}

.margin-bottom-huge {
    margin-bottom: 25px;
}

.margin-bottom-immense {
    margin-bottom: 30px;
}

.margin-left-tiny {
    margin-left: 3px;
}

.margin-left-small {
    margin-left: 5px;
}

.margin-left-medium {
    margin-left: 10px;
}

.margin-left-large {
    margin-left: 15px;
}

.margin-left-largest {
    margin-left: 20px;
}

.margin-left-huge {
    margin-left: 25px;
}

.margin-left-immense {
    margin-left: 30px;
}

.header-margins {
    margin-top: 20px;
    margin-bottom: 10px;
}

.no-margin {
    margin: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

