<nav class="navbar navbar-default navbar-fixed-top" id="navbar" role="navigation">
    <div class="container-fluid dark-blue white-text">
        <div class="col-md-3">
            Image goes here
        </div>
        <div class="col-md-7">
            <h1 class="margin-top-immense margin-bottom-immense playfair-font">
                HEADER
              </h1>
            <div class="col-md-12">
                <p class="margin-bottom-immense">
                    SUBLINE
                </p>
            </div>
        </div>
        <div>
            <div class="custom-login-button" ng-click="loginToTwitter();" ng-show="!userData.signedIn">
                <a alt="Login to Twitter" class="pointer">
                    <i class="btn-icon"></i>
                    <span class="btn-text">Login</span>
                </a>
            </div>
            <div class="custom-login-button" ng-show="userData.signedIn" ng-click="logout()">
                <a alt="Logged in" class="pointer">
                    <i class="btn-icon"></i>
                    <span class="btn-text">Logout</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="main-section">
    <div>
        <textarea class="col-md-12 text-area" autofocus maxlength="140" rows="5" cols="20" ng-model="message" ng-trim="false">Body </textarea>
    </div>
    <div class="row">
        <div class="col-md-12 margin-top-small">
            <div class="small-font align-right">
                Characters left: {{140-message.length}}
            </div>
            <div class="custom-tweet-button align-right margin-top-small" ng-click="sendTweet(message, $index)" ng-show="userData.signedIn">
                <a alt="Tweet this message" class="pointer">
                    <i class="btn-icon"></i>
                    <span class="btn-text">Tweet</span>
                </a>
            </div>
            <div class="custom-tweet-button align-right margin-top-small" ng-click="loginToTwitter();" ng-show="!userData.signedIn">
                <a alt="Login to Twitter" class="pointer">
                    <i class="btn-icon"></i>
                    <span class="btn-text">Login</span>
                </a>
            </div>
        </div>
    </div>
</div>
