<header class="hero flexbox aligner">
    <div class="hero-text aligner-item">
        <img class="hero-logo" src="../../assets/img/logo.svg"/>
        <!-- <h1 class="title">healthcare saves lives</h1> -->
        <h1 class="title">I Will Die</h1>
    </div>
</header>
<body>
<div id="content">
    <div id="main-content-container" class="flexbox-container">
        <ui-view></ui-view>
    </div>
</div>
</body>

<footer class="footer dark-blue flexbox aligner">
    <div class="social aligner-item align-center">
        <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
        <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
        <i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i>
        <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
    </div>
</footer>
